.about__home {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.grid-1 {
  display: grid;
  grid-template-columns: repeat(1, auto); }

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, auto); }

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, auto); }

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, auto); }

.moovie__item img {
  height: 90%;
  width: 90%; }

.hero__home {
  display: flex;
  align-items: center;
  text-align: start;
  flex-direction: column; }

.hero__content {
  width: 95%;
  height: auto;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 5% 0; }

.right-part img {
  height: 350px;
  width: 350px; }
