@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: 'Roboto', sans-serif; }

.btn-bd-primary {
  height: auto;
  width: auto;
  font-weight: 600;
  background-color: #006eff;
  color: white;
  border-radius: 8px;
  border: blue; }

.btn-outline-primary {
  height: auto;
  width: auto;
  font-weight: 600;
  border: 2px solid;
  border-radius: 8px;
  background-color: white;
  color: #006eff; }

.btn-bd-secondary {
  height: auto;
  width: auto;
  font-weight: 600;
  background-color: rgba(0, 110, 255, 0.562);
  color: white;
  border-radius: 8px;
  border: blue; }

.btn {
  padding: 16px 16px; }

.btn-lg {
  padding: 16px 48px; }

.btn-sm {
  padding: 16px 8px; }

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .header__main .header__logo img {
    height: 100px;
    width: 100px; }
  .header__main .header__nav .nav__list {
    display: flex;
    list-style: none; }
  .header__main .header__nav .nav__item {
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 20px; }
  .header__main .header__nav .nav__item a {
    color: black;
    text-decoration: none; }
  .header__main .header-nav__wrapper {
    padding: 10px 0;
    cursor: pointer; }
    .header__main .header-nav__wrapper .header-nav-burger {
      width: 30px;
      height: 2px;
      background: black;
      position: relative;
      transition: 0.3s; }
    .header__main .header-nav__wrapper .header-nav-burger.is-animate {
      background-color: transparent; }
    .header__main .header-nav__wrapper .header-nav-burger:before {
      content: "";
      position: absolute;
      bottom: 10px;
      background: black;
      width: 30px;
      height: 2px;
      transition: transform 0.3s; }
    .header__main .header-nav__wrapper .header-nav-burger.is-animate:before {
      transform: rotate(45deg);
      bottom: 0px;
      transition: transform 0.3s; }
    .header__main .header-nav__wrapper .header-nav-burger:after {
      content: "";
      position: absolute;
      bottom: -11px;
      background: black;
      width: 30px;
      height: 2px;
      transition: transform 0.3s; }
    .header__main .header-nav__wrapper .header-nav-burger.is-animate:after {
      transform: rotate(-45deg);
      top: 0px;
      transition: transform 0.3s; }

.nav--responsive {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: whitesmoke;
  z-index: 99999;
  /* opacity: 0.9; */
  box-shadow: 3px 3px 5px #c3c3c3;
  /* display: none; */
  transition: 0.3s; }

.nav--responsive.is-open {
  left: 0%;
  transition: 0.3s; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #8e8a8a8a;
  z-index: 99998;
  display: none;
  opacity: 0;
  transition: 0.3s ease-in; }

.overlay.is-open {
  opacity: 1;
  transition: 0.3s ease-in; }

.overflow {
  overflow: hidden; }

@media (max-width: 768px) {
  .header__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px; }
    .header__main .header__logo {
      text-align: center; }
    .header__main .header__nav .nav__list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0;
      list-style: none; } }

footer {
  background: #3d3d3d;
  color: whitesmoke;
  text-align: center;
  padding: 30px; }

.Mg-1 {
  margin: 0.5rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-2 {
  margin: 1rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-3 {
  margin: 1.5rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-4 {
  margin: 2rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-5 {
  margin: 2.5rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-6 {
  margin: 3rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-7 {
  margin: 3.5rem; }

.Pad-1 {
  padding: 2rem; }

.Pad-2 {
  padding: 2rem; }

.Pad-3 {
  padding: 2rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2rem; }

.Pad-6 {
  padding: 2rem; }

.Pad-7 {
  padding: 2rem; }

.Pad-8 {
  padding: 2rem; }

.Pad-9 {
  padding: 2rem; }

.Pad-10 {
  padding: 2rem; }

.Mg-8 {
  margin: 4rem; }

.Pad-1 {
  padding: 2rem; }

.Pad-2 {
  padding: 2rem; }

.Pad-3 {
  padding: 2rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2rem; }

.Pad-6 {
  padding: 2rem; }

.Pad-7 {
  padding: 2rem; }

.Pad-8 {
  padding: 2rem; }

.Pad-9 {
  padding: 2rem; }

.Pad-10 {
  padding: 2rem; }

.Mg-9 {
  margin: 4.5rem; }

.Pad-1 {
  padding: 2rem; }

.Pad-2 {
  padding: 2rem; }

.Pad-3 {
  padding: 2rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2rem; }

.Pad-6 {
  padding: 2rem; }

.Pad-7 {
  padding: 2rem; }

.Pad-8 {
  padding: 2rem; }

.Pad-9 {
  padding: 2rem; }

.Pad-10 {
  padding: 2rem; }

.Mg-10 {
  margin: 5rem; }

.Pad-1 {
  padding: 2rem; }

.Pad-2 {
  padding: 2rem; }

.Pad-3 {
  padding: 2rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2rem; }

.Pad-6 {
  padding: 2rem; }

.Pad-7 {
  padding: 2rem; }

.Pad-8 {
  padding: 2rem; }

.Pad-9 {
  padding: 2rem; }

.Pad-10 {
  padding: 2rem; }

.h1 {
  font-size: 2rem;
  line-height: 2.25rem; }

.h2 {
  font-size: 1.5rem;
  line-height: 2rem; }

.h3 {
  font-size: 1.25rem;
  line-height: 1.75rem; }

.large {
  font-size: 1.125rem;
  line-height: 1.625rem; }

.regular {
  font-size: 1rem;
  line-height: 1.375rem; }

.small {
  font-size: 0.875rem;
  line-height: 1.125rem; }

.mini {
  font-size: 0.75rem;
  line-height: 1rem; }

.micro {
  font-size: 0.562rem;
  line-height: 0.75rem; }
