.h1 {
  font-size: 2rem;
  line-height: 2.25rem; }

.h2 {
  font-size: 1.5rem;
  line-height: 2rem; }

.h3 {
  font-size: 1.25rem;
  line-height: 1.75rem; }

.large {
  font-size: 1.125rem;
  line-height: 1.625rem; }

.regular {
  font-size: 1rem;
  line-height: 1.375rem; }

.small {
  font-size: 0.875rem;
  line-height: 1.125rem; }

.mini {
  font-size: 0.75rem;
  line-height: 1rem; }

.micro {
  font-size: 0.562rem;
  line-height: 0.75rem; }
