.Mg-1 {
  margin: 0.5rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-2 {
  margin: 1rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-3 {
  margin: 1.5rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-4 {
  margin: 2rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-5 {
  margin: 2.5rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-6 {
  margin: 3rem; }

.Pad-1 {
  padding: 0.5rem; }

.Pad-2 {
  padding: 1rem; }

.Pad-3 {
  padding: 1.5rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2.5rem; }

.Pad-6 {
  padding: 3rem; }

.Pad-7 {
  padding: 3.5rem; }

.Pad-8 {
  padding: 4rem; }

.Pad-9 {
  padding: 4.5rem; }

.Pad-10 {
  padding: 5rem; }

.Mg-7 {
  margin: 3.5rem; }

.Pad-1 {
  padding: 2rem; }

.Pad-2 {
  padding: 2rem; }

.Pad-3 {
  padding: 2rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2rem; }

.Pad-6 {
  padding: 2rem; }

.Pad-7 {
  padding: 2rem; }

.Pad-8 {
  padding: 2rem; }

.Pad-9 {
  padding: 2rem; }

.Pad-10 {
  padding: 2rem; }

.Mg-8 {
  margin: 4rem; }

.Pad-1 {
  padding: 2rem; }

.Pad-2 {
  padding: 2rem; }

.Pad-3 {
  padding: 2rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2rem; }

.Pad-6 {
  padding: 2rem; }

.Pad-7 {
  padding: 2rem; }

.Pad-8 {
  padding: 2rem; }

.Pad-9 {
  padding: 2rem; }

.Pad-10 {
  padding: 2rem; }

.Mg-9 {
  margin: 4.5rem; }

.Pad-1 {
  padding: 2rem; }

.Pad-2 {
  padding: 2rem; }

.Pad-3 {
  padding: 2rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2rem; }

.Pad-6 {
  padding: 2rem; }

.Pad-7 {
  padding: 2rem; }

.Pad-8 {
  padding: 2rem; }

.Pad-9 {
  padding: 2rem; }

.Pad-10 {
  padding: 2rem; }

.Mg-10 {
  margin: 5rem; }

.Pad-1 {
  padding: 2rem; }

.Pad-2 {
  padding: 2rem; }

.Pad-3 {
  padding: 2rem; }

.Pad-4 {
  padding: 2rem; }

.Pad-5 {
  padding: 2rem; }

.Pad-6 {
  padding: 2rem; }

.Pad-7 {
  padding: 2rem; }

.Pad-8 {
  padding: 2rem; }

.Pad-9 {
  padding: 2rem; }

.Pad-10 {
  padding: 2rem; }
